{
    "openapi": "3.0.0",
    "info": {
        "title": "Pharmacy API",
        "description": "RESTful API theo chuẩn JSON:API",
        "contact": {
            "email": "dongockhanh2003.utt@gmail.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Main Server"
        }
    ],
    "paths": {
        "/v1/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Đăng ký người dùng mới",
                "description": "Tạo tài khoản người dùng mới và trả về JWT token",
                "operationId": "register",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "firstname",
                                    "lastname",
                                    "username",
                                    "email",
                                    "password",
                                    "phone"
                                ],
                                "properties": {
                                    "firstname": {
                                        "type": "string",
                                        "example": "Nguyen"
                                    },
                                    "lastname": {
                                        "type": "string",
                                        "example": "Van A"
                                    },
                                    "username": {
                                        "type": "string",
                                        "example": "nguyenvana"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "nguyenvana@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "matkhau123"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "0987654321"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Đăng ký thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Đăng ký thành công"
                                        },
                                        "data": {
                                            "properties": {
                                                "access_token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                                },
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "example": "60a1f2e6a1b9a2c3d4e5f6g7"
                                                        },
                                                        "firstname": {
                                                            "type": "string",
                                                            "example": "Nguyen"
                                                        },
                                                        "lastname": {
                                                            "type": "string",
                                                            "example": "Van A"
                                                        },
                                                        "username": {
                                                            "type": "string",
                                                            "example": "nguyenvana"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "nguyenvana@example.com"
                                                        },
                                                        "phone": {
                                                            "type": "string",
                                                            "example": "0987654321"
                                                        },
                                                        "profile_image": {
                                                            "type": "string",
                                                            "example": "3.jpg"
                                                        },
                                                        "role": {
                                                            "type": "string",
                                                            "example": "customer"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "pending"
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Lỗi xác thực",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lỗi xác thực"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi máy chủ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Đăng ký không thành công"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/credentials": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Đăng nhập bằng thông tin tài khoản",
                "description": "Xác thực người dùng bằng email/tên đăng nhập và mật khẩu, trả về JWT token",
                "operationId": "login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "account",
                                    "password"
                                ],
                                "properties": {
                                    "account": {
                                        "description": "Email hoặc tên đăng nhập",
                                        "type": "string",
                                        "example": "johndoe"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Đăng nhập thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Đăng nhập thành công"
                                        },
                                        "data": {
                                            "properties": {
                                                "access_token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                                },
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "example": "60a1f2e6a1b9a2c3d4e5f6g7"
                                                        },
                                                        "firstname": {
                                                            "type": "string",
                                                            "example": "John"
                                                        },
                                                        "lastname": {
                                                            "type": "string",
                                                            "example": "Doe"
                                                        },
                                                        "username": {
                                                            "type": "string",
                                                            "example": "johndoe"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "john@example.com"
                                                        },
                                                        "phone": {
                                                            "type": "string",
                                                            "example": "0123456789"
                                                        },
                                                        "last_login_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Xác thực thất bại",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tài khoản hoặc mật khẩu không chính xác"
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Tài khoản không hoạt động",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tài khoản chưa được kích hoạt"
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Lỗi xác thực",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Trường account là bắt buộc."
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "StandardResponse": {
                "title": "Cấu trúc phản hồi chuẩn",
                "properties": {
                    "data": {
                        "description": "Dữ liệu trả về",
                        "type": "object"
                    },
                    "message": {
                        "description": "Thông báo từ hệ thống",
                        "type": "string"
                    },
                    "status": {
                        "description": "Mã trạng thái HTTP",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ErrorResponse": {
                "title": "Cấu trúc phản hồi lỗi",
                "properties": {
                    "data": {
                        "description": "Dữ liệu rỗng",
                        "type": "array",
                        "items": {}
                    },
                    "message": {
                        "description": "Thông báo lỗi",
                        "type": "string"
                    },
                    "status": {
                        "description": "Mã trạng thái HTTP",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "HttpResponse": {
                "title": "HTTP Response",
                "description": "Standard API response format for Pharmacity Store",
                "properties": {
                    "data": {
                        "description": "Response data",
                        "type": "object",
                        "nullable": true
                    },
                    "message": {
                        "description": "Response message",
                        "type": "string"
                    },
                    "status": {
                        "description": "HTTP status code",
                        "type": "integer"
                    },
                    "locale": {
                        "description": "Response locale",
                        "type": "string"
                    },
                    "error": {
                        "description": "Error details if any",
                        "type": "object",
                        "nullable": true
                    }
                },
                "type": "object"
            }
        },
        "responses": {
            "SuccessResponse": {
                "description": "Standard success response",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/HttpResponse"
                        }
                    }
                }
            }
        },
        "parameters": {
            "page": {
                "name": "page",
                "in": "query",
                "description": "Số trang hiện tại",
                "schema": {
                    "type": "integer",
                    "default": 1,
                    "minimum": 1
                }
            },
            "limit": {
                "name": "limit",
                "in": "query",
                "description": "Số lượng bản ghi trên một trang",
                "schema": {
                    "type": "integer",
                    "default": 10,
                    "maximum": 100,
                    "minimum": 1
                }
            },
            "sort": {
                "name": "sort",
                "in": "query",
                "description": "Sắp xếp theo trường (thêm - phía trước để sắp xếp giảm dần)",
                "schema": {
                    "type": "string",
                    "example": "created_at hoặc -created_at"
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "Xác thực bằng JWT Token",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "Các API xác thực người dùng"
        }
    ]
}