{
    "openapi": "3.0.0",
    "info": {
        "title": "Pharmacy API",
        "description": "RESTful API theo chuẩn JSON:API",
        "contact": {
            "email": "dongockhanh2003.utt@gmail.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Main Server"
        }
    ],
    "paths": {
        "/api/v1/auth/credentials": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Đăng nhập",
                "description": "API đăng nhập vào hệ thống bằng username/email và mật khẩu",
                "operationId": "authCredentials",
                "requestBody": {
                    "description": "Thông tin đăng nhập",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "account",
                                    "password"
                                ],
                                "properties": {
                                    "account": {
                                        "description": "Tên đăng nhập hoặc email",
                                        "type": "string",
                                        "example": "username_or_email@example.com"
                                    },
                                    "password": {
                                        "description": "Mật khẩu",
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Đăng nhập thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "access_token": {
                                                    "description": "JWT token",
                                                    "type": "string"
                                                },
                                                "user": {
                                                    "description": "Thông tin người dùng",
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Đăng nhập thành công"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Thông tin đăng nhập không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Thông tin đăng nhập không hợp lệ"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 401
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Tài khoản bị khóa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tài khoản của bạn đã bị khóa"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 403
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dữ liệu không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Trường bắt buộc"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 422
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "StandardResponse": {
                "title": "Cấu trúc phản hồi chuẩn",
                "properties": {
                    "data": {
                        "description": "Dữ liệu trả về",
                        "type": "object"
                    },
                    "message": {
                        "description": "Thông báo từ hệ thống",
                        "type": "string"
                    },
                    "status": {
                        "description": "Mã trạng thái HTTP",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ErrorResponse": {
                "title": "Cấu trúc phản hồi lỗi",
                "properties": {
                    "data": {
                        "description": "Dữ liệu rỗng",
                        "type": "array",
                        "items": {}
                    },
                    "message": {
                        "description": "Thông báo lỗi",
                        "type": "string"
                    },
                    "status": {
                        "description": "Mã trạng thái HTTP",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "HttpResponse": {
                "title": "HTTP Response",
                "description": "Standard API response format for Pharmacity Store",
                "properties": {
                    "data": {
                        "description": "Response data",
                        "type": "object",
                        "nullable": true
                    },
                    "message": {
                        "description": "Response message",
                        "type": "string"
                    },
                    "status": {
                        "description": "HTTP status code",
                        "type": "integer"
                    },
                    "locale": {
                        "description": "Response locale",
                        "type": "string"
                    },
                    "error": {
                        "description": "Error details if any",
                        "type": "object",
                        "nullable": true
                    }
                },
                "type": "object"
            }
        },
        "responses": {
            "SuccessResponse": {
                "description": "Standard success response",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/HttpResponse"
                        }
                    }
                }
            }
        },
        "parameters": {
            "page": {
                "name": "page",
                "in": "query",
                "description": "Số trang hiện tại",
                "schema": {
                    "type": "integer",
                    "default": 1,
                    "minimum": 1
                }
            },
            "limit": {
                "name": "limit",
                "in": "query",
                "description": "Số lượng bản ghi trên một trang",
                "schema": {
                    "type": "integer",
                    "default": 10,
                    "maximum": 100,
                    "minimum": 1
                }
            },
            "sort": {
                "name": "sort",
                "in": "query",
                "description": "Sắp xếp theo trường (thêm - phía trước để sắp xếp giảm dần)",
                "schema": {
                    "type": "string",
                    "example": "created_at hoặc -created_at"
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "Xác thực bằng JWT Token",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "Các API xác thực người dùng"
        }
    ]
}