{
    "openapi": "3.0.0",
    "info": {
        "title": "Pharmacy API",
        "description": "RESTful API theo chuẩn JSON:API",
        "contact": {
            "email": "dongockhanh2003.utt@gmail.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Main Server"
        }
    ],
    "paths": {
        "/v1/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Đăng ký người dùng mới",
                "description": "Tạo tài khoản người dùng mới và trả về JWT token",
                "operationId": "register",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "firstname",
                                    "lastname",
                                    "username",
                                    "email",
                                    "password",
                                    "phone"
                                ],
                                "properties": {
                                    "firstname": {
                                        "type": "string",
                                        "example": "Nguyen"
                                    },
                                    "lastname": {
                                        "type": "string",
                                        "example": "Van A"
                                    },
                                    "username": {
                                        "type": "string",
                                        "example": "nguyenvana"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "nguyenvana@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "matkhau123"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "0987654321"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Đăng ký thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Đăng ký thành công"
                                        },
                                        "data": {
                                            "properties": {
                                                "access_token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                                },
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "example": "60a1f2e6a1b9a2c3d4e5f6g7"
                                                        },
                                                        "firstname": {
                                                            "type": "string",
                                                            "example": "Nguyen"
                                                        },
                                                        "lastname": {
                                                            "type": "string",
                                                            "example": "Van A"
                                                        },
                                                        "username": {
                                                            "type": "string",
                                                            "example": "nguyenvana"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "nguyenvana@example.com"
                                                        },
                                                        "phone": {
                                                            "type": "string",
                                                            "example": "0987654321"
                                                        },
                                                        "profile_image": {
                                                            "type": "string",
                                                            "example": "3.jpg"
                                                        },
                                                        "role": {
                                                            "type": "string",
                                                            "example": "customer"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "pending"
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Lỗi xác thực",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lỗi xác thực"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi máy chủ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Đăng ký không thành công"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/credentials": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Đăng nhập bằng thông tin tài khoản",
                "description": "Xác thực người dùng bằng email/tên đăng nhập và mật khẩu, trả về JWT token",
                "operationId": "login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "account",
                                    "password"
                                ],
                                "properties": {
                                    "account": {
                                        "description": "Email hoặc tên đăng nhập",
                                        "type": "string",
                                        "example": "johndoe"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Đăng nhập thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Đăng nhập thành công"
                                        },
                                        "data": {
                                            "properties": {
                                                "access_token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                                },
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "example": "60a1f2e6a1b9a2c3d4e5f6g7"
                                                        },
                                                        "firstname": {
                                                            "type": "string",
                                                            "example": "John"
                                                        },
                                                        "lastname": {
                                                            "type": "string",
                                                            "example": "Doe"
                                                        },
                                                        "username": {
                                                            "type": "string",
                                                            "example": "johndoe"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "john@example.com"
                                                        },
                                                        "phone": {
                                                            "type": "string",
                                                            "example": "0123456789"
                                                        },
                                                        "last_login_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Xác thực thất bại",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tài khoản hoặc mật khẩu không chính xác"
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Tài khoản không hoạt động",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tài khoản chưa được kích hoạt"
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Lỗi xác thực",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Trường account là bắt buộc."
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/admin/categories/create": {
            "post": {
                "tags": [
                    "Categories"
                ],
                "summary": "Thêm danh mục mới",
                "description": "Tạo một danh mục mới trong hệ thống",
                "operationId": "createCategory",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title"
                                ],
                                "properties": {
                                    "title": {
                                        "description": "Tên danh mục",
                                        "type": "string",
                                        "example": "Thuốc kháng sinh"
                                    },
                                    "description": {
                                        "description": "Mô tả chi tiết về danh mục",
                                        "type": "string",
                                        "example": "Các loại thuốc kháng sinh phổ biến"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Tạo thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "_id": {
                                                    "type": "string",
                                                    "example": "65f1b3fc5bce7125f4001ec2"
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Thuốc kháng sinh"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "thuoc-khang-sinh"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Các loại thuốc kháng sinh phổ biến"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Danh mục đã được tạo thành công"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 201
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dữ liệu không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tên danh mục phải có ít nhất 3 ký tự"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 422
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Không được phép truy cập",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Không được phép truy cập"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 401
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Không đủ quyền truy cập",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Bạn không có quyền truy cập tính năng này"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 403
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin/categories/update/{id}": {
            "patch": {
                "tags": [
                    "Categories"
                ],
                "summary": "Cập nhật danh mục",
                "description": "Cập nhật thông tin danh mục trong hệ thống",
                "operationId": "updateCategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID của danh mục cần cập nhật",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title"
                                ],
                                "properties": {
                                    "title": {
                                        "description": "Tên danh mục",
                                        "type": "string",
                                        "example": "Thuốc kháng sinh"
                                    },
                                    "description": {
                                        "description": "Mô tả chi tiết về danh mục",
                                        "type": "string",
                                        "example": "Các loại thuốc kháng sinh phổ biến"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cập nhật thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "_id": {
                                                    "type": "string",
                                                    "example": "65f1b3fc5bce7125f4001ec2"
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Thuốc kháng sinh"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "thuoc-khang-sinh"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Các loại thuốc kháng sinh phổ biến"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Danh mục đã được cập nhật thành công"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Danh mục không tồn tại",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Danh mục không tồn tại"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 404
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dữ liệu không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tên danh mục phải có ít nhất 3 ký tự"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 422
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Không được phép truy cập",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Không được phép truy cập"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 401
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Không đủ quyền truy cập",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Bạn không có quyền truy cập tính năng này"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 403
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Lấy danh sách người dùng",
                "description": "Trả về danh sách tất cả người dùng trong hệ thống",
                "operationId": "getUserList",
                "responses": {
                    "200": {
                        "description": "Thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "65f1b3fc5bce7125f4001ec2"
                                                    },
                                                    "username": {
                                                        "type": "string",
                                                        "example": "user1"
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "example": "user1@example.com"
                                                    },
                                                    "firstname": {
                                                        "type": "string",
                                                        "example": "Nguyen"
                                                    },
                                                    "lastname": {
                                                        "type": "string",
                                                        "example": "Van A"
                                                    },
                                                    "phone": {
                                                        "type": "string",
                                                        "example": "0901234567"
                                                    },
                                                    "profile_image": {
                                                        "type": "string",
                                                        "example": "1.jpg"
                                                    },
                                                    "role": {
                                                        "type": "string",
                                                        "example": "customer"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "example": "active"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy danh sách người dùng thành công"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Không được phép truy cập",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Không được phép truy cập"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 401
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Không đủ quyền truy cập",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Bạn không có quyền truy cập tính năng này"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 403
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin/users/add": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Thêm người dùng mới",
                "description": "Tạo một người dùng mới trong hệ thống",
                "operationId": "addUser",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "username",
                                    "email",
                                    "password",
                                    "password_confirmation",
                                    "role",
                                    "status"
                                ],
                                "properties": {
                                    "firstname": {
                                        "description": "Tên của người dùng",
                                        "type": "string",
                                        "example": "Nguyen"
                                    },
                                    "lastname": {
                                        "description": "Họ của người dùng",
                                        "type": "string",
                                        "example": "Van A"
                                    },
                                    "username": {
                                        "description": "Tên đăng nhập (độc nhất)",
                                        "type": "string",
                                        "example": "user1"
                                    },
                                    "email": {
                                        "description": "Email người dùng (độc nhất)",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user1@example.com"
                                    },
                                    "password": {
                                        "description": "Mật khẩu (ít nhất 8 ký tự, gồm chữ hoa, chữ thường, số và ký tự đặc biệt)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "Password123!"
                                    },
                                    "password_confirmation": {
                                        "description": "Xác nhận mật khẩu",
                                        "type": "string",
                                        "format": "password",
                                        "example": "Password123!"
                                    },
                                    "phone": {
                                        "description": "Số điện thoại (độc nhất)",
                                        "type": "string",
                                        "example": "0901234567"
                                    },
                                    "role": {
                                        "description": "Vai trò (customer/pharmacist/admin)",
                                        "type": "string",
                                        "example": "customer"
                                    },
                                    "status": {
                                        "description": "Trạng thái tài khoản (active/suspended/pending)",
                                        "type": "string",
                                        "example": "active"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Tạo thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "65f1b3fc5bce7125f4001ec2"
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "example": "user1"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "user1@example.com"
                                                },
                                                "firstname": {
                                                    "type": "string",
                                                    "example": "Nguyen"
                                                },
                                                "lastname": {
                                                    "type": "string",
                                                    "example": "Van A"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "0901234567"
                                                },
                                                "profile_image": {
                                                    "type": "string",
                                                    "example": "1.jpg"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "customer"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "active"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User created successfully"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 201
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dữ liệu không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "username": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Tên đăng nhập đã tồn tại"
                                                    }
                                                },
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Email đã được sử dụng"
                                                    }
                                                },
                                                "password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Mật khẩu phải có ít nhất 8 ký tự"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Dữ liệu không hợp lệ"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 422
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Không được phép truy cập",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Không được phép truy cập"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 401
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Không đủ quyền truy cập",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Bạn không có quyền truy cập tính năng này"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 403
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin/users/update/{id}": {
            "patch": {
                "tags": [
                    "Users"
                ],
                "summary": "Cập nhật thông tin người dùng",
                "description": "Cập nhật chi tiết của một người dùng hiện có bằng ID của họ.",
                "operationId": "updateUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID của người dùng cần cập nhật",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "firstname": {
                                        "description": "Tên của người dùng",
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true
                                    },
                                    "lastname": {
                                        "description": "Họ của người dùng",
                                        "type": "string",
                                        "maxLength": 255,
                                        "nullable": true
                                    },
                                    "username": {
                                        "description": "Tên đăng nhập duy nhất của người dùng",
                                        "type": "string",
                                        "maxLength": 255,
                                        "minLength": 3,
                                        "nullable": true
                                    },
                                    "email": {
                                        "description": "Địa chỉ email duy nhất của người dùng",
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 255,
                                        "nullable": true
                                    },
                                    "password": {
                                        "description": "Mật khẩu với ít nhất một chữ cái thường, một chữ cái hoa, một số và một ký tự đặc biệt",
                                        "type": "string",
                                        "minLength": 8,
                                        "nullable": true
                                    },
                                    "password_confirmation": {
                                        "description": "Xác nhận mật khẩu",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "description": "Số điện thoại duy nhất của người dùng",
                                        "type": "string",
                                        "maxLength": 15,
                                        "nullable": true
                                    },
                                    "role": {
                                        "description": "Vai trò của người dùng",
                                        "type": "string",
                                        "enum": [
                                            "customer",
                                            "pharmacist",
                                            "admin"
                                        ],
                                        "nullable": true
                                    },
                                    "status": {
                                        "description": "Trạng thái của người dùng",
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "suspended",
                                            "pending"
                                        ],
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cập nhật người dùng thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "description": "Dữ liệu người dùng đã cập nhật",
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cập nhật người dùng thành công"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Người dùng không tồn tại",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Người dùng không tồn tại"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Lỗi xác thực",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "description": "Lỗi xác thực",
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Dữ liệu không hợp lệ"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin/users/delete/{id}": {
            "delete": {
                "tags": [
                    "Users"
                ],
                "summary": "Xóa người dùng",
                "description": "Xóa người dùng khỏi hệ thống theo ID",
                "operationId": "deleteUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID của người dùng cần xóa",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Xóa thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Xóa người dùng thành công"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy người dùng",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Người dùng không tồn tại"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 404
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Không được phép truy cập",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Không được phép truy cập"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 401
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Không đủ quyền truy cập",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Bạn không có quyền truy cập tính năng này"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 403
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "vi_VN"
                                        },
                                        "error": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "StandardResponse": {
                "title": "Cấu trúc phản hồi chuẩn",
                "properties": {
                    "data": {
                        "description": "Dữ liệu trả về",
                        "type": "object"
                    },
                    "message": {
                        "description": "Thông báo từ hệ thống",
                        "type": "string"
                    },
                    "status": {
                        "description": "Mã trạng thái HTTP",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ErrorResponse": {
                "title": "Cấu trúc phản hồi lỗi",
                "properties": {
                    "data": {
                        "description": "Dữ liệu rỗng",
                        "type": "array",
                        "items": {}
                    },
                    "message": {
                        "description": "Thông báo lỗi",
                        "type": "string"
                    },
                    "status": {
                        "description": "Mã trạng thái HTTP",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "HttpResponse": {
                "title": "HTTP Response",
                "description": "Standard API response format for Pharmacity Store",
                "properties": {
                    "data": {
                        "description": "Response data",
                        "type": "object",
                        "nullable": true
                    },
                    "message": {
                        "description": "Response message",
                        "type": "string"
                    },
                    "status": {
                        "description": "HTTP status code",
                        "type": "integer"
                    },
                    "locale": {
                        "description": "Response locale",
                        "type": "string"
                    },
                    "error": {
                        "description": "Error details if any",
                        "type": "object",
                        "nullable": true
                    }
                },
                "type": "object"
            }
        },
        "responses": {
            "SuccessResponse": {
                "description": "Standard success response",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/HttpResponse"
                        }
                    }
                }
            }
        },
        "parameters": {
            "page": {
                "name": "page",
                "in": "query",
                "description": "Số trang hiện tại",
                "schema": {
                    "type": "integer",
                    "default": 1,
                    "minimum": 1
                }
            },
            "limit": {
                "name": "limit",
                "in": "query",
                "description": "Số lượng bản ghi trên một trang",
                "schema": {
                    "type": "integer",
                    "default": 10,
                    "maximum": 100,
                    "minimum": 1
                }
            },
            "sort": {
                "name": "sort",
                "in": "query",
                "description": "Sắp xếp theo trường (thêm - phía trước để sắp xếp giảm dần)",
                "schema": {
                    "type": "string",
                    "example": "created_at hoặc -created_at"
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "Xác thực bằng JWT Token",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "Các API xác thực người dùng"
        },
        {
            "name": "Categories",
            "description": "Quản lý danh mục thuốc"
        },
        {
            "name": "Users",
            "description": "Quản lý người dùng hệ thống"
        }
    ]
}